div
  padding: 2px

=border($width, $color)
  border: $width solid $color

=size($width, $height)
  width: $width
  height: $height

.block
  background-color: mediumblue
  position: absolute
  +size(600px, 400px)
  +border(1px, #333)
  .block-2
    background-color: green
    position: relative
    +size(550px, 350px)
    +border(1px, #333)
    .block-3
      background-color: cornflowerblue
      position: relative
      +size(500px, 300px)
      +border(1px, #333)
      .block-4
        background-color: orange
        position: relative
        +size(450px, 250px)
        +border(1px,#333)
        .block-5
          background-color: indianred
          position: relative
          +size(400px, 200px)
          +border(1px, #333)